.App {
  text-align: center;
}

body{
  color: #141415;
}

.pfoto{
 height: 30px;
 width: 30px;
 background-color: #ed5aa4;
 border: 1px solid #cc22b0;
 border-radius: 25px;
margin: 0 auto;}

.buttons{
  color: aqua;
  border-color: rgb(14, 92, 92);
  cursor: pointer;
  width: 20%;
}

.imputBlok{
  text-align: center;
}

.sign{
  display: flex;
  flex-direction: column;
  width: auto;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
